* {
  padding: 0;
  margin: 0;
  font-family: "Kalam";
}

html {
  scroll-behavior: smooth;
}


/* ----------main section for whole pages------ */

#mainsections {
  background-color: rgb(180, 47, 47);
  width: auto;
  height: auto;

  /* background-image: url("keith-misner-h0Vxgz5tyXA-unsplash.jpg");
  height: 100%; */
}


/*-------Nav bar-----*/

/* header{
  display: flex;
  justify-content: left;
  text-align: center;
} */

ul {
  list-style-type: none;
  margin: auto;
  padding: auto;
  overflow: hidden;
  background-color: rgba(89, 107, 212, 0.863);
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  /*padding-left: 50%;*/
  top: 0px;
}

/* nav{
  float:right;
  display:block;
  text-align: center;
  justify-content: center;

} */

#logo {
  line-height: 50px;
  padding-left: 30px;
  margin: auto;
  float: right;
}

li {
  display: inline;
  /* justify-content: center;
  text-align: justify; */



}

li a {
  /* display: inline; */

  color: white;
  text-align: center;
  padding: 14px 0px;
  text-decoration: none;

}

li a:hover {
  background-color: rgba(95, 219, 95, 0.4);
}

.active {
  background-color: rgb(84, 158, 69);
}

/*-------Background image css----*/
.homeFrontImg {
  width: 100%;
  height: 100vh;
  background-image: url("flat.jpg");

  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

}

/*-------Home page---------*/
.profile {
  width: 300px;
  height: 380px;
  background-color: rgba(78, 60, 60, 0.5);
  padding: 30px 0px;
  border-radius: 10%;
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

}


img {
  height: 150px;
  border-radius: 50%;

}

#colorName {
  color: rgb(26, 23, 12);
}

#color2 {
  color: rgb(231, 207, 205);
}

#color3 {
  color: rgba(241, 233, 229, 0.6);
  cursor: pointer;
}


/* ---------------social media icons-------------- */
.profileFonts {
  margin: 0px 20px;
  font-size: 30px;

}

/*-----------Project page-----------------------*/

.Project {
  height: 50%;
  width: 100%;
  background-color: rgb(224, 208, 208);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden;
  margin-top: 30px;
}

/* -------single line code of all above--------- */
/* .Project {
  background-image: url("safar-safarov-MSN8TFhJ0is-unsplash.jpg") no-repeat
    center center fixed cover;
  margin: 30px;
} */



/* #Project01 h2 {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;

  background-color: rgb(211, 183, 183);
  display: flex;
  text-align: justify; */

#Project01 p {

  padding: 0px 15px;
  font-size: 20px;
  width: auto;
  background-position: center center;
  word-wrap: break-word;

}

/*-----------About Me page-------*/

.aboutMe {
  height: 100vh;
  width: 100%;
  background-image: url("flat.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden;
  margin-top: 30px;
}

#about_me h2 {
  margin: 60px;
  padding: 10px;
  border-radius: 10px;

  background-color: rgb(211, 183, 183);
  display: flex;
  text-align: justify;
  justify-content: center;
  overflow: hidden;
}

#about_me p {
  margin: 0px 12px;
  padding: 0px 12px;
  font-size: 20px;
  width: auto;
  background-position: center center;
}

/*-----------Contact page------------*/

.contactMe {
  background-color: rgba(0, 0, 0, 0.835);
  padding-top: 0px;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  overflow: hidden;

}

#contact h2 {
  color: white;
  margin: 10px;
  padding-top: 10px;
  display: flex;
  text-align: justify;
  justify-content: center;
  overflow: hidden;
}

#contact p {
  margin: 0px 10px;
  padding: 0px 30px 20px 15px;

  color: white;
  word-wrap: break-word;

}