* {
  padding: 0;
  margin: 0;
  font-family: "Kalam";
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: auto;
  height: auto;
}

/* --------------------NavBar:Hover------------- */
div.hover_chnage nav:hover {
  background-color: rgba(26, 5, 18, 0.788);
}

div#myNavbar ul a:hover {
  zoom: 1.1;
  color: rgb(236, 203, 11);
}

/*-------Background image css----*/
#sections01 {
  width: 100%;
  height: 100vh;
  background-image: url("images/flat.jpg");

  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

/*-------Home page---------*/
.homeFrontImg {
  width: auto;
  padding: 10px 10px;
  height: auto;
  background-color: rgba(221, 94, 94, 0.6);

  border-radius: 10%;

  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: center center;

  /* background-attachment: fixed; */
}

.homeFrontImg:hover {
  background-color: rgb(142, 142, 216);
  zoom: 1.05;
}

img {
  height: 150px;
  border-radius: 50%;
}

#name {
  color: rgb(8, 7, 3);
}

#program {
  color: rgb(220, 234, 235);
}

#collage_link {
  color: rgba(241, 233, 229, 0.6);
  cursor: pointer;
}

/* ---------------social media icons-------------- */
.profileFonts {
  margin: 0px 20px;
  font-size: 25px;
}
div.profileFonts a:hover {
  zoom: 1.4;
  color: rgba(228, 55, 89, 0.7);
}

/*-----------Project page-----------------------*/
/* -------------Explore by category----- */
.middle-text {
  margin: 30px;
}

.middle-text h2 {
  font-size: 30px;
  margin-top: 50px;
  font-weight: bold;
  color: var(--background-color);
}

/* ------------------IMAGES SIZE AND PROPERTIES------------ */

.images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px 30px 40px 30px;
  grid-gap: 15px;
}
.images .bg-image:hover {
  opacity: 0.88;
  transform: scale(1.01);
}
.images .bg-image:hover .title {
  color: yellow;
}
.bg-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-image-prop {
  background-color: var(--background-color);
  padding: 60px;
  min-height: 200px;
  font-size: 28px;
  color: var(--color);
  text-shadow: 0 0 10px #000;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  box-shadow: inset 0 0 0 2000px rgba(0, 17, 62, 0.2);
  transition: all 0.3s;
}

.bg-image-size {
  min-width: 150px;
  margin: 1%;
}
/* ---------------------IMAGES FOR JOB CATAGORIES--------------------- */
.image01 {
  background-image: url("https://images.unsplash.com/photo-1546953304-5d96f43c2e94?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1602&q=80");
}
.image02 {
  background-image: url("https://images.unsplash.com/photo-1581093803931-46e730e7622e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}
.image03 {
  background-image: url("https://images.unsplash.com/photo-1549560826-4b7bfe23f37b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
}
.image04 {
  background-image: url("https://images.unsplash.com/photo-1544986581-efac024faf62?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}
.image05 {
  background-image: url("https://images.unsplash.com/photo-1504384764586-bb4cdc1707b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}
.image06 {
  background-image: url("https://images.unsplash.com/photo-1455165814004-1126a7199f9b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}
.image07 {
  background-image: url("https://images.unsplash.com/photo-1533750349088-cd871a92f312?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}
.image08 {
  background-image: url("https://images.unsplash.com/photo-1581291519195-ef11498d1cf2?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
}
.image09 {
  background-image: url("https://images.unsplash.com/photo-1556740772-1a741367b93e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
}

/*-----------About Me page-------*/

.aboutMe {
  height: 100vh;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1504384764586-bb4cdc1707b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden;
}

#about_me h2 {
  margin: 15px;
  padding: 15px;
  border-radius: 10px;

  background-color: rgb(211, 183, 183);
  display: flex;
  text-align: center;
  justify-content: center;
}

#about_me p {
  margin: 0px 10px;
  padding: 0px 30px 20px 15px;

  color: white;
  word-wrap: break-word;
}

/*-----------Contact page------------*/

#section4{
  background-color: rgba(0, 0, 0, 0.835);
 background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden;
}

div.contactMe {
  color: white;

  display: flex;
  text-align: justify;
  justify-content: center;
  overflow: hidden;
}

#contact p {
  margin: 0px 10px;
  padding: 0px 30px 20px 15px;

  color: white;
  word-wrap: break-word;
}
